.screen {
  border: 1px solid #CCC;
  margin: 20px 0;
  position: center;
  width: 100%;
  height: 100%;
  margin: auto;
}

.carousel {
  display: center;
  width: 50%;
  height: 15em;
  position: relative;
  transform: translateZ(-137px);
  transform-style: preserve-3d;
  transition: transform 1s;
  max-width: 80%;
}

.carousel_cell {
  position: absolute;
  border: 2px solid black;
  transform: translateZ(-137) rotateY(-144deg);
}



#goLeft{
  float: left;
  width: 10%;
  height: 15em;
}

#goRight{
  float: right;
  width: 10%;
  height: 15em;
}


.carouselCell:nth-child(1) { transform: rotateY(  0deg) translateZ(137px); }
.carouselCell:nth-child(2) { transform: rotateY( 72deg) translateZ(137px); }
.carouselCell:nth-child(3) { transform: rotateY(144deg) translateZ(137px); }
.carouselCell:nth-child(4) { transform: rotateY(216deg) translateZ(137px); }
.carouselCell:nth-child(5) { transform: rotateY(288deg) translateZ(137px); }