#img {
  position: center;
 
}

.back {
 position: relative;
 float: right;
 background: darkslategray;
 color: floralwhite;

}

.next {
  position: relative;
  float: left;
  background: darkslategray;
  color: floralwhite;
 
 }
